[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-magic = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
PyYAML = "*"
codecov = "*"

[packages]
lxml = "*"
exifread = "*"
pillow = "*"
olefile = "*"
oletools = "*"
officedissector = {editable = true,git = "https://github.com/grierforensics/officedissector.git"}
kittengroomer = {editable = true,path = "."}

[requires]
python_version = "3.6"
